@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Open+Sans:wght@400;500;700;800&family=Titan+One&display=swap');

body {
  background: hsl(240, 2%, 12%);
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}
